<div class="home-page">
    <h1 align="center">Welcome to FashionGuru!</h1>
    "Welcome to FashionGuru, where style meets expertise! Discover the latest trends, curated fashion tips, and expert advice to elevate your wardrobe. Whether you're a fashion enthusiast or a trendsetter, our platform is your go-to destination for all things chic and trendy. Unleash your inner fashionista as we guide you through the ever-evolving world of style, offering inspiration for every occasion. Stay ahead of the curve with FashionGuru – your ultimate source for sartorial wisdom and runway-worthy looks. Let's redefine fashion together!"
</div><br>
<div>
    <div class="card1">
        <img class="cloth" src="/assets/cloth.jpg" alt="cloth_img">
    </div>
    <button class="c-button1 c-button--gooey1"> <i>Menswear</i>
        <div class="c-button__blobs1">
        <div></div>
        <div></div>
        <div></div>
        </div>
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
            <feBlend in="SourceGraphic" in2="goo"></feBlend>
          </filter>
        </defs>
      </svg>
</div>
      <br>
    <div>
        <div class="card2">
            <img class="shoes" src="/assets/shoes1.jpg" alt="Sneakers_img">
        </div>
        <button class="c-button2 c-button--gooey2"> <i>Sneakers</i>
        <div class="c-button__blobs2">
        <div></div>
        <div></div>
        <div></div>
        </div>
        </button>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
            <feBlend in="SourceGraphic" in2="goo"></feBlend>
          </filter>
        </defs>
      </svg>
      </div>
      <br>
    <div class="card_3">
        <div class="card3">
            <img class="access" src="/assets/accessories.jpg" alt="access_img">
        </div>
      <button class="c-button3 c-button--gooey3"> <i>Accessories</i>
        <div class="c-button__blobs3">
        <div></div>
        <div></div>
        <div></div>
        </div>
      </button>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display: block; height: 0; width: 0;">
        <defs>
          <filter id="goo">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"></feGaussianBlur>
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo"></feColorMatrix>
            <feBlend in="SourceGraphic" in2="goo"></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
