<hr><hr>
<div>
    <h1>
        <strong>Oops! Seems like your cart is empty.</strong>
        Check out our latest collection now! 
    </h1>
</div>
<hr><hr>
<h3>Our Latest Collections:  </h3>
<br>
<!-- 1. -->
<div class="card_cloth">
    <div class="card2">
        <img class="img" [src]="imageUrl1" alt="Image description">
    </div>
</div>
<!-- 2. -->
<div class="card_shoes">
    <div class="card2">
        <img class="img" [src]="imageUrl2" alt="Image description">
    </div>
</div>
<!-- 3. -->
<div class="card_access">
    <div class="card2">
        <img class="img" [src]="imageUrl3" alt="Image description">

    </div>
</div>