<h1><strong><i>FashionGuru Registration</i></strong></h1>
<br>
<div class="regis"><br><br>
    <h3><i>Sign up now and avail our offers!!</i></h3><br>

<div class="container">
    <div class="form_area">
        <p class="title">SIGN UP</p>
        <form action="">
            <div class="form_group">
                <label class="sub_title" for="name">Name</label>
                <input placeholder="Enter your full name" class="form_style" type="text">
            </div>
            <div class="form_group">
                <label class="sub_title" for="age">Age</label>
                <input placeholder="Enter your age" id="age" class="form_style" type="number" min="1">
            </div>
            
            <div class="form_group">
                <label class="sub_title" for="gender">Gender</label>
                <select id="gender" class="form_style">
                    <option value="defualt" selected disabled>Choose your gender:</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            
            <div class="form_group">
                <label class="sub_title" for="address">Address</label>
                <textarea placeholder="Enter your address" id="address" class="form_style"></textarea>
            </div>
            
            <div class="form_group">
                <label class="sub_title" for="phone">Phone Number</label>
                <div class="phone_input">
                    <span class="country_code">+91</span>
                    <input placeholder="Enter your phone number" id="phone" class="form_style" type="tel" pattern="[0-9]{10}" maxlength="10">
                </div>
            </div>
            
            <div class="form_group">
                <label class="sub_title" for="email">Email</label>
                <input placeholder="Enter your email" id="email" class="form_style" type="email">
            </div>
            <div class="form_group">
                <label class="sub_title" for="password">Password</label>
                <input placeholder="Enter your password" id="password" class="form_style" type="password">
            </div>
            <div>
                <button class="btn">SIGN UP</button>
                <p>Have an Account? <a class="link" href="">Login Here!</a></p><a class="link" href="">
            </a></div><a class="link" href="">
        
    </a></form></div><a class="link" href=""><br><br>
</a></div>
</div>
